/* --------------------------------------------------------------

    Projet 1 - Santraplus

    Tom DELAUNAY

-------------------------------------------------------------- */

/* --------------------------------------------------------------
    GLOBAL @@@G
-------------------------------------------------------------- */

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    background-color: #7549A4;
    background-image: url(../img/bg_site.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: #666;
}

/* --------------------------------------------------------------
    HEADER @@@H
-------------------------------------------------------------- */

header {
    padding: 35px 50px 35px 50px;
    height: 55px;
    background-color: #fcfcfc;
    border-bottom: 3px #C0BDA4 solid;
}

header h1 {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    width: 76%;
    height: 55px;
    font-family: Georgia, Serif;
    font-size: 5.5rem;
    font-style: italic;
    text-align: right;
    color: #0092B6;
}

/* --------------------------------------------------------------
    MAIN @@@M
-------------------------------------------------------------- */

main {
    margin: 100px 150px;
}

article {

    background-color: white;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 30px;
    font-family: Georgia, Serif;
}

h2 {
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 30px;
}

h3 {
    font-size: 2.2rem;
    text-decoration: underline;
    margin-bottom: 0;
}

p {
    font-size: 1.8rem;
}

.green-button {
    font-size: 2rem;
    color: #FFF;
    background-color: #AEC000;
    text-decoration: none;
    border-radius: 5px;
    display: block;
    padding: 10px;
}

.green-button:hover {
    background-color: #BECC3D;
}

.orange-button {
    font-size: 2rem;
    color: #FFF;
    background-color: #FFAC4B;
    text-decoration: none;
    border-radius: 5px;
    display: block;
    padding: 10px;
}

.orange-button:hover {
    background-color: #FFBD6F;
}

.center-button {
    margin: auto;
    margin-top: 35px;
}

.left-button {
    margin: 0;
    margin-top: 15px;
    display: inline-block;
}

/* --------------------------------------------------------------
    FOOTER @@@F
-------------------------------------------------------------- */

footer p {
    margin: 0;
    padding: 30px 0;
    background-image: url(../img/bg_footer.png);
    color: #FFF;
    font-size: 2rem;
    font-family: arial;
    text-align: center;
    background-size: cover;
    line-height: 4rem;
}

/* --------------------------------------------------------------
    MAIN-PAGE @@@M-P
-------------------------------------------------------------- */

#main-page {
    overflow: hidden;
}

#main-page article a {
    width: 250px;
}

/* --------------------------------------------------------------
    LOGIN-PAGE @@@L-P
-------------------------------------------------------------- */

#login-page p {
    font-size: 1.6rem;
    margin-bottom: 20px;
}

#login-page input {
    height: 20px;
}

/* --------------------------------------------------------------
    ADMINISTRATION-PAGE @@@A-P
-------------------------------------------------------------- */

#administration-page li,
#administration-page li a {
    font-size: 1.8rem;
    color: #666;
}

#administration-page li a:hover {
    text-decoration: none;
    color: #000;
}

/* --------------------------------------------------------------
    REGISTER-EMPLOYEE-PAGES @@@R-E-P
-------------------------------------------------------------- */

.input-2 {
    margin-bottom: 10px;
}

.input-1 {
    color: #0092B6;
    font-weight: bolder;
    text-align: center;
    border: 2px solid transparent;
    border: 1px solid transparent;
    border-bottom: 2px solid #0092B6;
    font-size: inherit;
    margin-bottom: 10px;
}

.input-1:hover {
    border-bottom: 2px solid #00ABC6;
}

.input-1:focus {
    outline: none;
    border: 1px solid #00ABC6;
    border-bottom: 2px solid #00ABC6;
    border-radius: 5px;
}




#register-employee-2-page #same-job-yes,
#register-employee-2-page #same-job-no {
    margin-left: 30px;
}

.container-2blocks p {
    float: left;
    width: 50%;
}

.navigation {
    margin-left: 450px;
}

.navigation li {

    display: inline-block;
}




/* --------------------------------------------------------------
    NEW-APPOINTMENT-PAGE @@@N-A-P
-------------------------------------------------------------- */

#new-appointment-page p .recovery,
#new-appointment-page p .motif {
    display: none;
}

#new-appointment-page p input:checked ~ label,
#new-appointment-page p input:checked ~ input {
    display: inline-block;
}


#new-appointment-page p #employer:checked ~ label,
#new-appointment-page p #employer:checked ~ input {
    display: inline-block;
}

#new-appointment-page p:nth-child(2) {
    margin-left: 150px;
    width: 30%;
}

#edit-appointment-page p .availability,
#edit-appointment-page p .cancel {
    display: none;

}

#edit-appointment-page p input#appointement-postpone:checked ~ label.availability,
#edit-appointment-page p input#appointement-postpone:checked ~ input.availability,
#edit-appointment-page p input#appointement-cancel:checked ~ label.cancel,
#edit-appointment-page p input#appointement-cancel:checked ~ input.cancel {
    display: inline-block;
}



.container-2blocks::after {
content: "";
display: table;
clear: both;
}





#confirmation-page article a {
    width: 230px;
}





/* --------------------------------------------------------------
    TESTS @@@T
-------------------------------------------------------------- */

/*

label,
p {
    font-size: 3rem;
    font-family: Arial;
}

form p span {
    display: none;
}

form input:nth-child(1):checked ~ span {
    display: contents ;
}

form input:nth-child(1):checked + label{
    color: coral;
}




                <p>Présentation de la page</p>
                <form method="POST" action="">
                    <p>
                        <input type="radio" id="mat" name="reprise" value="mat">
                        <label for="mat">Reprise Maternité</label>
                        <span><br>Mon texte supplémentaire avec les infos à remplir</span>
                    </p>
                    <p>
                        <input type="radio" id="mal" name="reprise" value="mal">
                        <label for="mal">Reprise Maladie</label>
                        <span><br>Mon texte supplémentaire avec les infos à remplir</span>
                    </p>
                    <p>
                        <input type="radio" id="abs" name="reprise" value="abs">
                        <label for="abs">Reprise Absence</label>
                        <span><br>Mon texte supplémentaire avec les infos à remplir</span>
                    </p>

                </form>
                