/* --------------------------------------------------------------

    Projet 1 - Santraplus

    Tom DELAUNAY

-------------------------------------------------------------- */

/* --------------------------------------------------------------
    GLOBAL @@@G
-------------------------------------------------------------- */

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    background-color: #7549A4;
    background-image: url(../img/bg_site.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* --------------------------------------------------------------
    HEADER @@@H
-------------------------------------------------------------- */

header {
    padding: 35px 50px 35px 50px;
    height: 55px;
    background-color: #fcfcfc;
    border-bottom: 3px #C0BDA4 solid;
}

header h1 {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    width: 76%;
    height: 55px;
    font-family: Georgia, Serif;
    font-size: 5.5rem;
    font-style: italic;
    text-align: right;
    color: #0092B6;
}

/* --------------------------------------------------------------
    MAIN @@@M
-------------------------------------------------------------- */

main {
    margin: 100px 150px 100px 150px;
}

article {

    background-color: white;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 30px;
    font-family: Georgia, Serif;
}

/* --------------------------------------------------------------
    FOOTER @@@F
-------------------------------------------------------------- */

footer p {
    margin: 0;
    padding: 30px 0;
    background-image: url(../img/bg_footer.png);
    color: #FFF;
    font-size: 2rem;
    font-family: arial;
    text-align: center;
    background-size: cover;
    line-height: 4rem;
}

/* --------------------------------------------------------------
    MAIN-PAGE @@@M-P
-------------------------------------------------------------- */

#main-page {
    overflow: hidden;
}

#main-page h2 {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 30px;
}

#main-page p {
    font-size: 1.5rem;
}

#main-page .section-1 {
    color: #666;
}

#main-page a {
    font-size: 2rem;
    padding: 10px;
    background-color: #AEC000;
    color: #FFF;
    text-decoration: none;
    border-radius: 5px;
    width: 250px;
    display: block;
    margin: auto;
    margin-top: 35px;
}

#main-page a:hover {
    background-color: #BECC3D;
}















/* --------------------------------------------------------------
    TESTS @@@T
-------------------------------------------------------------- */

/*

label,
p {
    font-size: 3rem;
    font-family: Arial;
}

form p span {
    display: none;
}

form input:nth-child(1):checked ~ span {
    display: contents ;
}

form input:nth-child(1):checked + label{
    color: coral;
}




                <p>Présentation de la page</p>
                <form method="POST" action="">
                    <p>
                        <input type="radio" id="mat" name="reprise" value="mat">
                        <label for="mat">Reprise Maternité</label>
                        <span><br>Mon texte supplémentaire avec les infos à remplir</span>
                    </p>
                    <p>
                        <input type="radio" id="mal" name="reprise" value="mal">
                        <label for="mal">Reprise Maladie</label>
                        <span><br>Mon texte supplémentaire avec les infos à remplir</span>
                    </p>
                    <p>
                        <input type="radio" id="abs" name="reprise" value="abs">
                        <label for="abs">Reprise Absence</label>
                        <span><br>Mon texte supplémentaire avec les infos à remplir</span>
                    </p>

                </form>
                